<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>admission</display-name>
  <servlet>
    <servlet-name>TestCSVServlet</servlet-name>
    <servlet-class>TestCSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCSVServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>MeritController</servlet-name>
    <servlet-class>MeritList.MeritController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeritController</servlet-name>
    <url-pattern>/MeritController/*</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>GenderPolulate</servlet-name>
    <servlet-class>AnalysisResult.GenderPolulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderPolulate</servlet-name>
    <url-pattern>/GenderPolulate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DivisionPopulate</servlet-name>
    <servlet-class>AnalysisResult.DivisionPopulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionPopulate</servlet-name>
    <url-pattern>/DivisionPopulate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YearPopulate</servlet-name>
    <servlet-class>year.YearPopulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YearPopulate</servlet-name>
    <url-pattern>/YearPopulate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExamCenterMapPopulate</servlet-name>
    <servlet-class>ExamCenterMap.ExamCenterMapPopulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamCenterMapPopulate</servlet-name>
    <url-pattern>/ExamCenterMapPopulate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeatplanPopulate</servlet-name>
    <servlet-class>seatplan.SeatplanPopulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatplanPopulate</servlet-name>
    <url-pattern>/SeatplanPopulate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateTableUnit</servlet-name>
    <servlet-class>UnitGpa.PopulateTableUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateTableUnit</servlet-name>
    <url-pattern>/PopulateTableUnit/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubAdminPopulate</servlet-name>
    <servlet-class>subadmin.SubAdminPopulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubAdminPopulate</servlet-name>
    <url-pattern>/SubAdminPopulate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateTablePer</servlet-name>
    <servlet-class>stuper.PopulateTablePer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateTablePer</servlet-name>
    <url-pattern>/PopulateTablePer/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>superadminpopulate</servlet-name>
    <servlet-class>superadminper.superadminpopulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>superadminpopulate</servlet-name>
    <url-pattern>/superadminpopulate/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>indexhome.jsp</welcome-file>
  </welcome-file-list>
</web-app>